// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Small space for blockquotes - reduces spacing between blockquote paragraphs
.small-space {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
