<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">🌙</button>

    {%- unless page.hide_header == true -%}
      {%- include header.html -%}
    {%- endunless -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- unless page.hide_footer == true -%}
      {%- include footer.html -%}
    {%- endunless -%}

    <!-- Lightbox CSS -->
    <script type="text/javascript" src="/assets/js/lightbox.js"></script>
    <link rel="stylesheet" href="/assets/css/lightbox.css">


  </body>

</html>
